{% extends '_base.html' %}

{% block title %}
    <title>Home Page</title>
{% endblock title %}

{% block content %}
   <div class="container">
       <h1></h1>
        <div class="form-container">
            <h2>Welcome to messenger Dister!</h2>

                <form>
                    <input type="text" placeholder="Email">
                    <input type="password" placeholder="Password">
                    <button type="button" class="btn btn-success">Log In</button>
                </form>
                <p>Don't have an account? Sign up now!</p>
                <button type="button" class="btn btn-primary">Sign Up</button>
        </div>
    </div>
{% endblock content %}